.banner
    .row
        .col
            .title: h1 GameFi short video #[span platform]
            .subtitle Watch. Play. Earn
            a.google-play
                .icon: include ../../../shared/img/icons/socials/googleplay.svg
                .google-play__text Pre-registration in Google Play
        .col
            .socials-buttons 
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/discord.svg
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/telegram.svg
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/twitter.svg
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/facebook.svg
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/instagram.svg
                a.socials-buttons__item.icon(href='#'): include ../../../shared/img/icons/socials/unknown.svg                  