//- // Миксин для встраивания инлайн SVG
//- mixin inlineSvg(iconName)
//-   :include: svgPath(iconName)

//- // Функция для формирования пути к файлу SVG
//- - function svgPath(iconName)
//-   return `../../../shared/img/icons/socials/${iconName}.svg`